/* css reset */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* generics */

body {
    background-color: #dfdbdb;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 80px;
    line-height: 80px;
    padding-left: 20px;
    background-color: white;
}

h1 {
    display: inline;
    font-size: 38px;
    font-weight: 900px;
    vertical-align: middle;
}

/* header */
.logo {
    height: 50px;
    vertical-align: middle;
}


/* card */
.card {
    max-width: 1000px;
    background-color: white;
    margin: 30px auto;
    border-radius: 5px;
}

/* card-header */
.card-header{
   padding: 10px 8px;
   border-bottom: 2px solid #dfdbdb;;
}

/* card-body */
.card-body {
    padding: 20px 30px;
}

.buttom-top {
    vertical-align: middle;
    margin-left: 30px ;
}

button {
    padding: 9px 6px;
    border-radius: 5px ;
    border: 1px solid #8c8c8c;
    background-color: white;
    width: 100px;
    color: rgb(144, 142, 142);
    font-size: 15px;
}

.buttom-left {
    color: white;
    background-color: #2c90ff;
    border-style: none;
}

/* utilities */

.title-main{
    font-size: 30px;
    padding-top: 20px;
}

ul, div{
    list-style-type: none;
}

li{
    margin-top: 20px;
}

.check-mark, .x-mark {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 20px;
}

.check-mark {
    color: green;
    border: 1px solid green;
}

.x-mark {
    color: #eb3716;
    border: 1px solid #eb3716; 
}

span, .label {
    display: inline-block;
    width: 85px;
    height: 30px;
    border-style: none;
    border-radius: 18px;
    margin-left: 2px;
    text-align: center;
    line-height: 30px;
    color: white;
}

.label-blue{
    background-color: #45abea;
}

.label-durkviolet{
    background-color: #9c72e4;
}

.label-green{
    background-color: #64c0a9;
}

.label-orange{
    background-color: #f29e33;
}

.label-light-green{
    background-color: #b0c926;
}

.label-deeppink {
    background-color: #d863a0;
}
